extends layout

block content
  h1 Welcome

  .account-info.clearfix
    .container
      if user.local.email
        .unlink
          if user.twitter.token || user.google.token
            a(href='/unlink/local') Unlink
          else
            p.inactive Unlink
        p.heading userid 
        p #{user._id}
        p.heading email 
        p #{user.local.email}
      else
        .connect
          a(href="/connect/local", title="connect local") Connect Local

    .container
      if user.twitter.token
        .unlink
          if user.local.email || user.google.token
            a(href="/unlink/twitter") Unlink
          else
            p.inactive Unlink
        p.heading id
        p #{user.twitter.id}
        p.heading display name
        p #{user.twitter.displayName}
        p.heading user name
        p #{user.twitter.username}
      else
        .connect
          a(href="/connect/twitter") Connect Twitter

    .container
      if user.google.token
        .unlink
          if user.local.email || user.twitter.token
            a(href="/unlink/google") Unlink
          else
            p.inactive Unlink
        p id: #{user.google.id}
        p email name: #{user.google.email}
        p name: #{user.google.name}
      else
        .connect
          a(href="/connect/google") Connect Google

#    div.logout
#      .connect
#        a(href="/logout") Logout
